@import "components/form.scss";
@import "components/containers.scss";
@import "components/navbar.scss";

html {
  height: 100vh;
}

body {
  margin: 0;
  width: 100%;
  padding: 120px 0 0;
  height: calc(100% - 120px);
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  background-color: #FAFAFA;

}

