@import "components/_buttons.css";
@import "components/_form.css";
@import "components/_home.css";
@import "components/_loading-indicator.css";
@import "components/_form-page.css";
@import "components/_nav.css";

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  padding-top: 3.5em;
  background-color: #FAFAFA;
}

body.js-open-sans-loaded {
  font-family: 'Open Sans', Helvetica Neue, Helvetica, Arial, sans-serif;
}

.clearfix::after {
  clear: both;
  content: '';
  display: table;
}

.hide-text {
  overflow: hidden;
  padding: 0; /* 1 */
  text-indent: 101%;
  white-space: nowrap;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
